* {
  box-sizing: border-box;
}
.wrapper {
  height: 100vh;
  display: flex;
}
.Side-bar {
  width: 300px;
  &__user-name {
    background-color: #253141;
    height: 100px;
    display:flex;
    align-items:center;
    justify-content:center;
    &__top-items {
      font-weight: bold;
      color: #ffffff;
      height: 20px;
      width: 260px;
      display: flex;
      justify-content: space-between;
      &__name {
        line-height: 20px;
        font-size: 16px;
      }
      &__icons {
        width: 60px;
        border-bottom: none;
        align-items: right;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        color: #ffffff;
        &__edit {
          color: #ffffff;
        }
        &__setting {
          margin-left: 5px;
          color: #ffffff;
        }
      }
    }
  }
  &__group-list{
    height: calc(100vh - 100px);
    background-color: #2f3e51;
    color: #ffffff;
    display: block;
    &__group {
      padding: 20px 20px 40px 20px;
      display: block;
      .lists {
        text-decoration: none;
        color: #ffffff;
        .Side-bar__group-list__group__name {
          font-size: 15px;
        }
        .Side-bar__group-list__group__message {
          font-size: 11px;
          margin-top: 5px;
        }
      }
    }
  }
}

.Chat-main {
  width: calc(100vw - 300px);
  &__group {
    background-color: #ffffff;
    height: 100px;
    border-bottom: solid 1px #eeeeee;
    padding: 0 40px;
    justify-content: space-between;
    display: flex;
    &__detail {
      display: block;
      &__groupName {
        color: #333333;
        font-size: 20px;
        margin-top: 35px;
      }
      &__member {
        color: #999999;
        font-size: 12px;
        margin-top: 15px;
        display: flex;
        ul {
          display: flex;
          li {
            margin-right: 5px;
          }
        }
      }
    }
    &__edit {
      margin-top: 28px;
      display: block;
      justify-content: center;
      align-items: center;
      padding: 0 20px;
      border: 1px solid #38aef0;
      text-decoration: none;
      height: 40px;
      line-height: 40px;
      a {
        text-decoration: none;
        color: #38aef0;
        font-size: 16px;
      }
    }  
  }
  &__message {
    background-color: #fafafa;
    padding: 35px 40px 0px 40px;
    height: calc(100vh - 100px - 90px);
    overflow-y: scroll;
    &__detail {
      
      &__user-name {
        color: #333333;
        font-size: 16px;
      }
      &__update-time {
        color: #999999;
        font-size: 12px;
        padding-left: 10px;
      }
    }
    &__comment {
        color: #434A54;
        font-size: 14px;
        margin-top: 12px;
        margin-bottom: 46px;
    }
  }

  &__footer {
    background-color: #d2d2d2;
    height: 90px;
    padding: 20px 50px 20px 40px;
    .Form {
      display: flex;
      justify-content: space-between;
      .Chat-main__footer__contents {
        width: 100%;
        background-color: #fff;
        position: relative;
        .Form__inputContent {
          border: none;
          height: 50px;
          width: 100%;
          padding: 0 45px 0 15px;
          text-align: start;
          display: flex;
        }
        .Form__inputImage {
          height: 50px;
          position: absolute;
          right: 10px;

          .Form__icon {
            display: inline-block;
            font-style: normal;
            font-variant: normal;
            text-rendering: auto;
            line-height: 50px;
            font-size: 25px;
            position: relative;
            bottom: 50px;
          }
          .Hidden {
            display: none;
          }
        }
      }
    }
    .Form__submit {
      background-color: #38AEF0;
      border: none;
      color: #fff;
      font-size: 16px;
      height: 50px;
      margin-left: 15px;
      padding: 0 30px;
      display: inline-block;
      align-items: flex-start;
      text-align: center;
    }
  }
}